.about {
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	padding: 100px 0;
	position: relative;
	@media (min-width: 1921px) {
		padding: var(--100px) 0;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(var(--index) * 20);
		background: linear-gradient(180deg, #010203 0%, rgba(1, 2, 3, 0) 100%);
		z-index: 1;
	}

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: calc(var(--index) * 20);
		background: linear-gradient(180deg, rgba(1, 2, 3, 0) 0%, #010203 100%);
		z-index: 1;
	}

	&__body {
		position: relative;
		z-index: 2;
	}

	&__title {
	}

	&__list {
		@include list-reset;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 150px;
		}
		&:nth-child(even) {
			flex-direction: row-reverse;
		}
	}
}

.about-company {
	display: flex;
	justify-content: space-between;
	//flex-wrap: wrap;
	gap: 15px;

	&__image {
		flex: 0 1 500px;
		position: relative;
		min-height: 100%;

		@media (min-width: 1921px) {
			flex: 0 1 40%;
		}

		img,
		source {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
		}
	}

	&__content {
		flex: 0 1 600px;
		@media (min-width: 1921px) {
			flex: 0 1 50%;
		}
		& > * {
			@include reset;
		}
	}

	&__title {
		font-size: rem(30);
		font-weight: 700;
		color: var(--main-text);
		line-height: 1.55;

		@media (min-width: 1921px) {
			font-size: var(--30px);
		}
	}

	&__subtitle {
		font-size: rem(12);
		text-transform: uppercase;
		color: var(--blue-color);

		@media (min-width: 1921px) {
			font-size: calc(var(--index) / 1.7);
		}
		&:not(:last-child) {
			margin-bottom: 30px;

			@media (min-width: 1921px) {
				margin-bottom: calc(var(--index) * 2);
			}
		}

		
	}

	&__descr {
		--gap-h: 53px;
		--column: 3;
		--width: calc(100% / var(--column) - (var(--gap-h) * (var(--column) - 1)));

		display: flex;
		flex-wrap: wrap;
		gap: 15px var(--gap-h);

		&:not(:last-child) {
			margin-bottom: 50px;
		}

		& > * {
			@include reset;
			display: flex;
			flex-wrap: wrap;
			flex: 1 1 27.4%; // 27
		}
	}

	&__table {
		border-bottom: 1px solid var(--main-text);
		border-top: 1px solid var(--main-text);
		border-spacing: 0;
		border-collapse: collapse;
		width: 100%;

		tr {
			border-bottom: 1px solid var(--main-text);
		}
		th:first-child,
		td:first-child {
			padding-left: 0;
		}

		th:last-child,
		td:last-child {
			padding-right: 0;
		}
		td,
		th {
			padding: 15px;
			text-align: center;
		}

		th {
			font-size: rem(16);
			font-weight: 400;
			@media (min-width: 1921px) {
				font-size: calc(var(--index) / 1.5);
			}
		}

		td {
			font-size: rem(14);
			font-weight: 700;
			@media (min-width: 1921px) {
				font-size: calc(var(--index) / 1.3);
			}
			& > * {
				display: block;
				line-height: 100%;
			}
			span {
				font-size: rem(36);
				@media (min-width: 1921px) {
					font-size: calc(var(--index) * 2);
				}
			}
		}
	}

	&__btn {
		font-size: rem(18);
		&:not(:first-child) {
			margin-top: 50px;
		}
	}

	&__caption {
		font-size: inherit;
		&:not(:first-child) {
			display: block;
			margin-top: 20px;
		}
	}
}
