.how-to {

	&__body {
		position: relative;
		z-index: 2;
	}

	&__title {
	}

	&__map {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 555px;
		height: 545px;
		margin-left: calc(var(--index) * 10);

		@media (min-width: 1921px) {
			margin-left: calc(var(--index) * 15);
		}

		@media (max-width: 1440px) {
			margin-left: calc(var(--index) * 5);
		}

		@media (max-width: 1024px) {
			flex-direction: row-reverse;
			gap: 0 30px;
			flex-wrap: wrap;
			width: 100%;
			height: 100%;
			margin-left: unset;

			svg {
				flex: 1 1 359px;
			}
		}

		@media (min-width: 1921px) {
			svg {
				width: calc(var(--index) * 15) !important;
				height: calc(var(--index) * 15) !important;
			}
		}

		svg circle {
			transition: all 0.5s;
			cursor: pointer;
		}
		svg circle.active {
			fill: var(--blue-color);
		}
	}

	&__list {
		@include list-reset;
		counter-reset: myCounter;
		@media (max-width: 1024px) {
			flex: 1 1 40%;
			text-align: right;
		}
	}

	&__item {
		//position: absolute;
		width: 273px;
		transition: all 0.5s;
		cursor: pointer;
		font-size: rem(18);
		transition: all 0.5s;

		@media (min-width: 1921px) {
			font-size: calc(var(--index) / 1.2);
			width: calc(var(--index) * 20);
		}

		&.active {
			transform: scale(1.3) translateX(10%);
			color: var(--blue-color);
		}

		&:nth-child(6) {
			@media (min-width: 1921px) {
				width: calc(var(--index) * 10);
			}
			&.active {
				transform: scale(1.3);
				//color: var(--blue-color);
			}
		}

		@media (max-width: 1024px) {
			margin-left: auto;
			&::before {
				counter-increment: myCounter;
				content: counter(myCounter) ".";
			}

			&.active {
				transform: unset;
			}

			&:nth-child(6) {
				&.active {
					transform: unset;
				}
			}

			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}
	}
}
